body {
    margin: 0;
    padding: 16px 8px;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  wired-card {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    display: block;
  }
  
  wired-button {
    margin-left: 8px;
    background: yellow;
  }
  
  wired-input {
    font-family: inherit;
  }

h1, p, div { 
    text-align: center; 
}
h1 {
  font-size: 45px;
}

.frame {
    float: left;
    width: 140px;
}

.frame p {
  padding: 10px;
}

.player{
  padding-top: 30px;
}

.player wired-card {
  height: 180px;
  margin-top: 10px;
}

.player span{
  padding-left: 75px;
}

#startCard {
    max-width: 500px;
}

#container * {
  width: 50px;
}

#errorMessage {
  color:orange;
  padding-top: 20px;
  font-size: 25px;
}
